{{ partial "head.html" . }}

        
        <div class="row about-tim">
            <div id="tim-photo" class="col-50-1000">
                <img src="/images/tim-photo.jpg">
            </div>
            <div id="tim-bio" class="col-50-1000">
                <div id="tim-bio-text-div">
                    <p>Observations made while walking in the Derbyshire countryside have always been my inspiration.</p>
                    <p>Whether it’s drawings, sketches, photos or just memories, I bring the outdoors back to my studio as my starting point.</p>
                    <p>To catch some of those fleeting glimpses and observe seasonal changes, I’ll often return to the same place for months or years before capturing and reinterpreting those subtleties to truly reflect the landscape’s character.</p>
                </div>
                <img src="/images/tim.png">
            </div>
        </div>

        <div class="current-shows">
            <h2 class="capitals">See Tim's Work</h2>
            <p>{{ range where .Pages ".Title" "see-tims-work" }}{{ .Content }}{{ end }}</p>
            <p>For viewings and private sales, <a href="/contact">get in touch</a>.</p>
        </div>

        <div class="row accolades">
            <div class="col-50 exhibitions">
                <h2 class="capitals">Group &amp; Open Exhibitions</h2>
                <p>{{ range where .Pages ".Title" "exhibitions" }}{{ .Content }}{{ end }}</p>
            </div>
            <div class="col-50">
                <h2 class="capitals">Awards &amp; Acknowledgements</h2>
                <p>{{ range where .Pages ".Title" "awards" }}{{ .Content }}{{ end }}</p>
                <h2 class="capitals">One-Man Shows</h2>
                <p>{{ range where .Pages ".Title" "one-man-shows" }}{{ .Content }}{{ end }}</p>
                
  
            </div>
        </div>
{{ partial "made-by.html" . }}
{{ partial "footer.html" . }}

