{{ partial "head.html" . }}
{{ partial "timball-hr.html" . }}
<!--
        <div class="row">
            <div class="column-33 about-photo">
                <img src="/images/tim-photo.png">
            </div>
            <div class="column-66">
                <p>POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE? CONSEQUENTIA EXQUIRERE, QUOAD SIT ID, QUOD VOLUMUS, EFFECTUM. IDEM ETIAM DOLOREM SAEPE PERPETIUNTUR, NE, SI ID NON FACIANT, INCIDANT IN MAIOREM. POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE.</p>
            </div>
        </div>
-->

        <div class="row about-tim">
            <div id="tim-photo">
                <img src="/images/tim-photo.jpg">
            </div>
            <div id="tim-bio">
                <p>My approach to painting has always been based on observations made whilst walking in the Derbyshire landscape that surrounds me.</p>
                <p>I have always been drawn to woodlands and other wild places as a starting point for these works and it is with these interpretations whilst out exploring that I bring back to my studio, these may be drawings, quick sketches, photographs or just memories.</p>
                <p>In order to be able to capture some of those fleeting glimpses within the landscape I will often return to the same places for months sometimes years in order to observe the seasonal changes in these visual landscapes and to contemplate the subtle changes that occur. I will then attempt to reinterpret and play around with these images in order to truly reflect those experiences.</p>
                <p>The paintings are built up using a process of thin washes to establish form and space and then worked over with oils, varnish and in some cases pastels to add to the sense of depth.</p>
            </div>
        </div>


<!--
        <div class="row">
            <h2 class="capitals">Awards</h2>
            <div class="column-33">
                <div class="award">
                    <p>Malc's favourite person 2017</p>
                </div>
            </div>
            <div class="column-33">
                <div class="award">
                    <p>Wirksworth's best beard runner up, 2018</p>
                </div>
            </div>
            <div class="column-33">
                <div class="award">
                    <p>Adorable dog finalist 2016</p>
                </div>
            </div>
        </div>
-->
        <div class="row">
            <div class="column-50">
                <h2 class="capitals">Exhibitions</h2>
                <p>POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE? CONSEQUENTIA EXQUIRERE, QUOAD SIT ID, QUOD VOLUMUS, EFFECTUM. IDEM ETIAM DOLOREM SAEPE PERPETIUNTUR, NE, SI ID NON FACIANT, INCIDANT IN MAIOREM. POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE.</p>
            </div>
            <div class="column-50">
                <h2 class="capitals">Solo Shows</h2>
                <p>POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE?</p>
                <h2 class="capitals">Galleries</h2>
                <p>POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE?</p>
                <div class="award">
                    <p>POST ENIM CHRYSIPPUM EUM NON SANE EST DISPUTATUM. QUIS ENIM POTEST ISTIS, QUAE TE, UT AIS, DELECTANT, BREVIBUS ET ACUTIS AUDITIS DE SENTENTIA DECEDERE?</p>
                </div>
            </div>
        </div>
{{ partial "footer.html" . }}

