{{ partial "head.html" . }}
{{ partial "timball-hr.html" . }}
    <div class="gallery-medium-container">
{{ range where .Pages ".Params.type" "medium" }}
        <a href="/gallery/{{lower .Params.medium }}">
            <div class="gallery-medium-div">
                <div class="hover-grey-overlay"></div>
                <h3 class="capitals">{{humanize .Params.medium }}</h3>
                <img src="{{ .Params.mediumImg }}">
            </div>
        </a>
{{ end }}
    </div>
{{ partial "made-by.html" . }}
{{ partial "footer.html" . }}