{{ partial "head.html" . }}
        <div class="row" id="homepage-row">
            <div class="col-50" id="homepage-text">
                {{ partial "timball-hr.html" . }}
                <h2 class="capitals">Contemporary Landscape Artist Based in and&nbsp;Inspired by the Peak District</h2>
            </div>
            <div class="col-50" id="homepage-image-div">
                {{ range where .Pages ".Title" "Homepage Images" }}
                <img id="homepage-img3" src="{{ .Params.homepageimg3 }}">
                <img id="homepage-img2" src="{{ .Params.homepageimg2 }}">
                <img id="homepage-img1" src="{{ .Params.homepageimg1 }}">
                {{ end }}
            </div>
        </div>
        
{{ partial "footer.html" . }}