$themeGray: #7A7A7A;
$themeMustard: #DCC357;
$mainFont: 'Raleway', sans-serif;

$mobileMenuBreakpoint: 600px;

body {
    background-color: $themeGray;
    margin: 0;
    padding: 0;
}

.capitals {
    text-transform: uppercase;
}

h1 {
    font-family: $mainFont;
    color: $themeMustard;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: center;
}

h2 {
    font-family: $mainFont;
    color: $themeMustard;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    text-align: left;
}

p {
    font-family: $mainFont;
    font-weight: 300;
    color: white;
    letter-spacing: 1px;
    line-height: 140%;
}

hr {
    border-color: $themeMustard;
    border-width: 0 0 2px 0;
    border-top-color: $themeMustard;
//    border-width: 2px;
    margin: 20px 40px;
}


//menu
#menu {
    position: fixed;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: $themeGray;
    list-style-type: none;
    margin: 0;
    font-family: $mainFont;
    font-weight: 300;
    color: white;
    letter-spacing: 2px;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    
    li {
        font-size: 36px;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    .active {
        color: $themeMustard;
    }
    
    &:target {
        display: flex;
    }

    &:target + .burger-buttons .close-menu {
        display: block;
    }
    
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        position: relative;
        text-align: center;
        
        display: flex;
        flex-direction: row;
        
        li {
            position: relative;
            padding: 0 20px;
            float: left;
            font-size: 16px;
        }
    }
}

#homepage-menu {
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        position: absolute;
        width: 50%;
        box-sizing: border-box;
        float: left;
        
        .active {
            display: none;
        }
    }
}

.burger-buttons {
    position: relative;
    top: 10px;
    width: 50px;
    height: 50px;

    a {
        width: 100%;
        height: 100%;
    }
    
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        display: none;
    }
    
    .close-menu {
        display: none;
    }

    .menu-burger {
        width: 40px;
        position: absolute;
        top: 0;
        left: 10px;
        height: 45px;

        .burger-line {
            position: absolute;
            width: 100%;
            left: 0;
        }

        #burger-line-1 {
            top: 0px;
        }
        #burger-line-2 {
            top: 12px;
        }
        #burger-line-3 {
            top: 24px;
        }
    }
}
    
#homepage-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
        text-align: left;
    }
    
    h2 {
        padding-top: 20px;
    }
    
    hr {
        margin: 0;
        border-width: 0 0 1px 0;
    }
    
    #tim-sig {
        width: 500px;
        max-width: 80%;
        padding: 0 0 20px 0;
        margin: 0;
//        border: 1px solid red;
    }
}

#homepage-image-div {
    position: relative;
    padding: 0;
    height: 100vh;
    margin: 0;
    
    img {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-sizing: border-box;
    }
}

#homepage-row {
    padding: 0;
    height: 65vh;
    
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        height: 100vh;
    }
}

#homepage-img2, #homepage-img3 {
    opacity: 0;
}

#tim-sig {
    display: block;
    width: 250px;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    max-width: 80%;
}

.column-50 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    height: 100%;
    
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        width: 50%;
        float: left;
    }
}

.column-33 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    height: 100%;
    border: 1px solid green;
    
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        width: 33.333%;
        float: left;
    }
}

.column-66 {
    box-sizing: border-box;
    width: 100%;
    padding: 0 30px;
    height: 100%;
    border: 1px solid green;
    
    @media only screen and (min-width: $mobileMenuBreakpoint) {
        width: 66.666%;
        float: left;
    }
}

.row {
    width: 100%;
    clear: both;
    padding: 0 10px;
    box-sizing: border-box;
}

.about-tim {
    display: flex;
    justify-content: space-evenly;
}

.award {
    background-color: $themeMustard;
    padding: 20px;
    text-align: center;
}

#tim-photo {
//    float: left;
    width: 387px;
    box-sizing: border-box;
    border: 1px solid green;
    padding: 20px 60px;
    margin: 0;
}

#tim-bio {
    padding: 20px 60px 20px 30px;
    box-sizing: border-box;
    width: calc(100% - 387px);
    min-width: 600px;
    border: 1px solid red;
//    float: left;
    margin: 0;
}

#gallery-menu-div {
    ul {
        list-style-type: none;
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        font-family: $mainFont;
        font-weight: 300;
        color: white;
        letter-spacing: 2px;
        
        li {
            padding: 0 15px;
            
            @media only screen and (min-width: 350px) {
                padding: 0 20px
            }
        }
        
            
        
        .active {
            color: $themeMustard;
            font-weight: 400;
        }
        
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

.gallery-medium-container {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
    
    .gallery-medium-div {
        float: left;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        
        h3 {
            color: $themeMustard;
            font-family: $mainFont;
            font-weight: 300;
            letter-spacing: 3px;
        }
        
        img {
            border: 6px solid white;
            margin-bottom: 30px;
            max-width: 80%;
        }
        
        @media only screen and (min-width: $mobileMenuBreakpoint) {
            width: 33.333%;
        }
    }
}

.hover-grey-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    &:hover {
        background-color: #FFFFFF20;
    }
}


.gallery-artwork-container {
    height: 10px;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
//    border: 1px solid red;
    margin-top: 50px;
    
    .gallery-artwork-col {
        margin: 0 0 100px 0;
        height: 250px;
        width: 100%;
        float: left;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
            
        
        @media only screen and (min-width: 500px) {
            width: 50%;
        }
        
        @media only screen and (min-width: 800px) {
            width: 33.333%;
        }
        
        h3 {
            display: none;
        }
        
        .gallery-artwork-container {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90%;
            height: 100%;
            
//            max-height: 80%;
            
            img {
                border: 6px solid white;
                max-height: 100%;
                max-width: 95%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

#test {
    border: 1px solid green;
    overflow: visible;
    height: 10px;
}

#image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000C0;
    box-sizing: border-box;
    display: none;
    touch-action: pan-y pinch-zoom;
    
    #close-image-viewer {
        position: absolute;
        z-index: 1;
        top: 5px;
        right: 15px;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 30px;
        
        &:hover {
            cursor: pointer;
        }
    }
    
    #image-container {
        position: absolute;
        top: 0;//50%;
        width: 100%;
        height: 90%;
        //max-height: 10%;
//        transform: translateY(-50%);
        background-color: black;
        
        img {
            max-height: 100%;
            max-width: 100%;
            height: 200%;
            object-fit: contain;
            text-align: center;
            display: block;
            margin: 0 auto;
        }
    }
    
    #scroll-controls-container {
        position: relative;
        width: 100%;
        height: 100%;
        
        .scroll-control {
            position: absolute;
            width: 60px;
            height: 100px;
            top: 50%;
            transform: translateY(-50%);
            padding: 15px;
            box-sizing: border-box;
            cursor: pointer;
            
            svg {
                width: 100%;
                height: 100%;
            }
            
            &:hover {
                background-color: #4A4A4AC0;
                border-radius: 5px;
            }
        }
        
        #scroll-left {
            left: 20px;
        }
        
        #scroll-right {
            right: 20px;
            
            svg {
                transform: scale(-1, 1);
            }
        }
    }
    
    #caption-container {
        width: 100%;
        height: 120px;
        position: absolute;
        bottom: 0;
        background-color: #4A4A4AC0;
        padding: 0 30px;
        
        h3 {
            color: white;
            font-family: $mainFont;
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

form {
    width: 80%;
    margin: 100px auto;
    position: relative;

    .form-input {
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
    }

    .form-label {
        position: absolute;
        left: 5%;
        top: -40px;
    }

    label {
        color: $themeMustard;
        text-align: left;
        font-family: $mainFont;
        font-size: 18px;
        width: 130px;
        margin: 15px 0 63px 0;
        display: block;
        height: 100%;
    }

    input, textarea {
        background-color: #f4f5f6;
        border: none;
        width: 100%;
        color: black;
        margin-bottom: 50px;
        font-size: 18px;
    }

    input {
        height: 32px;
    }

    button {
        background-color: $themeMustard;
        font-family: $mainFont;
        font-size: 20px;
        color: white;
        border: none;
        border-radius: 5px;
        width: 120px;
        height: 45px;
        margin: 0 auto;
        display: block;
        text-align: center;
    }

    @media only screen and (min-width: 1000px) {
        .form-input {
            width: 80%;
            margin-top: auto;
        }

        .form-label {
            left: auto;
            right: 90%;
            top: auto;
        }

        label {
            text-align: right;
            margin: 5px 0 24px 0;
            padding-right: 10px;
        }

        input, textarea {
            margin-bottom: 10px;
        }
    }
}

.thankyou {
//    height: 60vh;
//    border: 1px solid red;
    
    p {
        margin-top: 100px;
        text-align: center;
    }
}