        <!-- SnapWidget -->
<!--<iframe src="https://snapwidget.com/embed/621281" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:480px; height:160px"></iframe>-->
        <script>
            $(function () {
                
                {{- if eq .Title "Tim Ball Paintings" }}
                
                var coverImgArray = [];
                var k = 0;
                var m = 1;
                while (k == 0) {
                    if ($('#homepage-img' + m).length) {
                        coverImgArray[m-1] = $('#homepage-img' + m).attr('src');
//                        alert(coverImgArray[m-1]);
                        m++;
                    } else {
                        k++;
                    }
                }
                var imgSwitch = 0;
                var imgArrayCounter = imgIndex = 0;
                setInterval(function() {
                    imgIndex = imgArrayCounter % coverImgArray.length;
                    if (imgSwitch % 2 == 0) {
                        $('#homepage-img2').attr('src', coverImgArray[imgIndex]);
                        $('#homepage-img2').css('opacity', 0);
                        $('#homepage-img2').css('z-index', 3);
                        $('#homepage-img2').animate({
                            opacity: 1}, 2000, function() {
                            $('#homepage-img1').css('z-index', 1);
                            $('#homepage-img2').css('z-index', 2);
                        });
                    }
                    if (imgSwitch % 2 == 1) {
                        $('#homepage-img1').attr('src', coverImgArray[imgIndex]);
                        $('#homepage-img1').css('opacity', 0);
                        $('#homepage-img1').css('z-index', 3);
                        $('#homepage-img1').animate({
                            opacity: 1}, 2000, function() {
                            $('#homepage-img2').css('z-index', 1);
                            $('#homepage-img1').css('z-index', 2);
                        });
                    }
                    imgSwitch++;
                    imgArrayCounter++;
                }, 4000);
                
                $('#homepage-img2').css('src', 'homepage-img2.png')
                {{ end }}
                
                var touchscreenDevice = false;
                window.addEventListener('touchstart', function() {
                  touchscreenDevice = true;
                });
                
                var imgNum;
                var imgArray = [];
                titleArray = [];
                dateArray = [];
                mediumArray = [];
                sizeArray = [];
                var imgSrcString;
                var i = 0;
                var j = 0;
                while (i == 0) {
                    if ($('#image-' + j).length) {
                        imgArray[j] = 'image-' + j;
                        titleArray[j] = $('#title-' + j).html();
//                        dateArray[j] = $('#date-' + j).html();
                        mediumArray[j] = $('#medium-' + j).html();
                        sizeArray[j] = $('#size-' + j).html();
                        j++;
                    } else {
                        i++;
                    }
                }

                $('.gallery-image').on('click touch', function() {
                    imgNum = event.target.id;
                    imgSrcString = $('#' + imgNum).attr('src');
                    $('#img-large-view').attr('src', imgSrcString);
                    if (touchscreenDevice == true) {
                        $('#scroll-controls-container').hide();
                    }
                    $('#image-viewer').show();
                    $('body').css('overflow', 'hidden');
                    for (var i = 0; i < imgArray.length; i++) {
                        if (imgArray[i] == imgNum) {
                            imgNum = i;
                        }
                    }
                    writeCaptionInfo(imgNum);
                });

                $('#scroll-left').on('click touch', function() {
                    scrollLeft();
                });
                
                $('#scroll-right').on('click touch', function() {
                    scrollRight();
                });

                $('#close-image-viewer').on('click touch', function() {
                    $('#image-viewer').hide();
                    $('body').css('overflow', 'visible');
                });
                
                function scrollLeft() {
                     if (imgNum == 0) {
                            imgNum = imgArray.length - 1;
                    } else {
                        imgNum--;
                    }
                    imgSrcString = $('#' + imgArray[imgNum]).attr('src');
                    $('#img-large-view').attr('src', imgSrcString);
                    writeCaptionInfo(imgNum);
                }
                
                function scrollRight() {
                    if (imgNum == imgArray.length - 1) {
                        imgNum = 0;
                    } else {
                        imgNum++;
                    }
                    imgSrcString = $('#' + imgArray[imgNum]).attr('src');
                    $('#img-large-view').attr('src', imgSrcString);
                    writeCaptionInfo(imgNum);
                }
            
                function writeCaptionInfo(i) {
                    $('#artwork-title').html(titleArray[i]);
//                    $('#artwork-date').html(dateArray[i]);
                    $('#artwork-medium').html(mediumArray[i]);
                    $('#artwork-size').html(sizeArray[i]);
                }

                var clientX;
                window.addEventListener('touchstart', function(e) {
                    clientX = e.touches[0].clientX;
                });

                window.addEventListener('touchend', function(e) {
                    var deltaX = e.changedTouches[0].clientX - clientX;
                    if (deltaX > 30) {
                        scrollLeft();
                    }
                    if (deltaX < -30) {
                        scrollRight();
                    }
                });
            });
            
        </script>
    </body>
</html>