        <!-- SnapWidget -->
<!--<iframe src="https://snapwidget.com/embed/621281" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:480px; height:160px"></iframe>-->
        <script>
            $(function () {
                
                var burgerAnimate;
                var burgerLine1Pos, burgerLine2Pos;
                var burgerLine1Angle = burgerLine3Angle = 0;
                var menuStatus = 'close';
                var currentURL = window.location.href;
                if (currentURL.indexOf("menu") >= 0) {
                    toggleMenu('open');
                    menuStatus = 'open';
                }
                $('.open-menu').on('click touch', function() {
                    clearInterval(burgerAnimate);
                    toggleMenu('close');
                    burgerAnimate = setInterval(burgerAnimationOpen, 25);
                });
                
                $('.close-menu').on('click touch', function() {
                    clearInterval(burgerAnimate);
                    toggleMenu('open');
                    burgerAnimate = setInterval(burgerAnimationClose, 25);
                });
                
                function burgerAnimationOpen() {
                    if (burgerLine1Pos < 12) {
                        burgerLine1Pos++;
                        burgerLine3Pos--;
                        $('#burger-line-1').css('top', burgerLine1Pos + 'px');
                        $('#burger-line-3').css('top', burgerLine3Pos + 'px');
                    }
                    if (burgerLine1Pos == 12) {
                        burgerLine1Angle += 5;
                        burgerLine3Angle -= 5;
                        $('#burger-line-1').css('transform', 'rotate(' + burgerLine1Angle + 'deg)');
                        $('#burger-line-2').css('transform', 'rotate(' + burgerLine3Angle + 'deg)');
                        $('#burger-line-3').css('transform', 'rotate(' + burgerLine3Angle + 'deg)');
                        if (burgerLine1Angle == 45) {
                            menuStatus = 'open';
                            clearInterval(burgerAnimate);
                        }
                    }
                }
                
                function burgerAnimationClose() {
                    if (burgerLine1Angle > 0) {
                        burgerLine1Angle -= 5;
                        burgerLine3Angle += 5;
                        $('#burger-line-1').css('transform', 'rotate(' + burgerLine1Angle + 'deg)');
                        $('#burger-line-2').css('transform', 'rotate(' + burgerLine3Angle + 'deg)');
                        $('#burger-line-3').css('transform', 'rotate(' + burgerLine3Angle + 'deg)');
                    }
                    if (burgerLine1Angle == 0) {
                        burgerLine1Pos--;
                        burgerLine3Pos++;
                        $('#burger-line-1').css('top', burgerLine1Pos + 'px');
                        $('#burger-line-3').css('top', burgerLine3Pos + 'px');
                        if (burgerLine1Pos == 0) {
                            menuStatus = 'close';
                            clearInterval(burgerAnimate);
                        }
                    }
                }

                function toggleMenu(newStatus) {
                    if (newStatus == 'close') {
                        $('#burger-line-1').css('top', '0');
                        burgerLine1Pos = 0;
                        $('#burger-line-3').css('top', '24px');
                        burgerLine3Pos = 24;
                        $('#burger-line-1').css('transform', 'rotate(0deg)');
                        burgerLine1Angle = 0
                        $('#burger-line-2').css('transform', 'rotate(0deg)');
                        $('#burger-line-3').css('transform', 'rotate(0deg)');
                        burgerLine3Angle = 0;
                    } else if (newStatus == 'open') {
                        $('#burger-line-1').css('top', '12px');
                        burgerLine1Pos = 12;
                        $('#burger-line-3').css('top', '12px');
                        burgerLine3Pos = 12;
                        $('#burger-line-1').css('transform', 'rotate(45deg)');
                        burgerLine1Angle = 45;
                        $('#burger-line-2').css('transform', 'rotate(-45deg)');
                        $('#burger-line-3').css('transform', 'rotate(-45deg)');
                        burgerLine3Angle = -45;
                    }
                }
                    
                
                {{- if eq .Title "Tim Ball Paintings" }}
                
                var coverImgArray = [];
                var k = 0;
                var m = 1;
                while (k == 0) {
                    if ($('#homepage-img' + m).length) {
                        coverImgArray[m-1] = $('#homepage-img' + m).attr('src');
//                        alert(coverImgArray[m-1]);
                        m++;
                    } else {
                        k++;
                    }
                }
                var imgSwitch = 0;
                var imgArrayCounter = 1;
                var imgIndex = 0;
                setInterval(function() {
                    imgIndex = imgArrayCounter % coverImgArray.length;
                    if (imgSwitch % 2 == 0) {
                        $('#homepage-img2').attr('src', coverImgArray[imgIndex]);
                        $('#homepage-img2').css('opacity', 0);
                        $('#homepage-img2').css('z-index', 3);
                        $('#homepage-img2').animate({
                            opacity: 1}, 2000, function() {
                            $('#homepage-img1').css('z-index', 1);
                            $('#homepage-img2').css('z-index', 2);
                        });
                    }
                    if (imgSwitch % 2 == 1) {
                        $('#homepage-img1').attr('src', coverImgArray[imgIndex]);
                        $('#homepage-img1').css('opacity', 0);
                        $('#homepage-img1').css('z-index', 3);
                        $('#homepage-img1').animate({
                            opacity: 1}, 2000, function() {
                            $('#homepage-img2').css('z-index', 1);
                            $('#homepage-img1').css('z-index', 2);
                        });
                    }
                    imgSwitch++;
                    imgArrayCounter++;
                }, 4000);
                
                if ($(window).width() < 400) {
                    var homepageRowHeight = (0.65 * $(window).height()) + 'px';
                    var homepageImageHeight = $(window).height() + 'px';
//                    $('#homepage-row').css('height', homepageRowHeight);
                    $('#homepage-image-div').css('height', homepageImageHeight);
                }
                
                {{ end }}
                
                var touchscreenDevice = false;
                window.addEventListener('touchstart', function() {
                  touchscreenDevice = true;
                });
                
                
                {{ if or (eq .Title "Gallery - Paper") (eq .Title "Gallery - Board") (eq .Title "Gallery - Canvas") }}
                
                const swipePhotoGallery = document.getElementById('swipe-photo-gallery-id');
                
                const swipePhotoGalleryContainer = document.getElementById('swipe-photo-gallery-container');
                
                const N = swipePhotoGallery.children.length;
                swipePhotoGallery.style.setProperty('--n', N);
//                swipePhotoGallery.style.setProperty('--i', 3);
                
                let x0 = null;
                let locked = false;
                let tx = '';
                var mousemoveTimeout;
                var imgArray = [];
                var titleArray = [];
                var mediumArray = [];
                var sizeArray = [];
                var n = 0;
                var m = 0;
                while (n == 0) {
                    if ($('#' + m).length) {
                        imgArray[m] = m;
                        titleArray[m] = $('#title-' + m).html();
                        mediumArray[m] = $('#medium-' + m).html();
                        sizeArray[m] = $('#size-' + m).html();
                        m++;
                    } else {
                        n++;
                    }
                }
                
                function unify(e) {
                    return e.changedTouches ? e.changedTouches[0] : e
                };
                
                function lock(e) {
                    x0 = unify(e).clientX;
                    swipePhotoGallery.classList.toggle('smooth', !(locked = true));
//                    alert(x0);
                }
                
                let i = 0;
                function move(e) {
                    if(locked) {
                        let dx = unify(e).clientX - x0;
                        let s = Math.sign(dx);
                        
                        if((i > 0 || s < 0) && (i < N -1 || s > 0)) {
                            swipePhotoGallery.style.setProperty('--i', i -= s);
                            swipePhotoGallery.style.setProperty('--tx', '0px');
                            swipePhotoGallery.classList.toggle('smooth', true);
                            writeCaptionInfo(i)
                            x0 = null;
                        } else if (i == 0) {
                            swipePhotoGallery.style.setProperty('--i', 0);
                            swipePhotoGallery.style.setProperty('--tx', '0px');
                            swipePhotoGallery.classList.toggle('smooth', true);
                            writeCaptionInfo(i)
                        } else if (i == N - 1) {
                            swipePhotoGallery.style.setProperty('--i', N - 1);
                            swipePhotoGallery.style.setProperty('--tx', '0px');
                            swipePhotoGallery.classList.toggle('smooth', true);
                            writeCaptionInfo(i)
                        }
                    }
                    locked = false;
                };
                
                function drag(e) {
                    e.preventDefault();
                    if(locked) {
                        tx = Math.round(unify(e).clientX) - x0 + 'px';
                        swipePhotoGallery.style.setProperty('--tx', tx);
                    } else {
                        $('.scroll-arrow').fadeIn(1000)
                        clearTimeout(mousemoveTimeout);
                        mousemoveTimeout = setTimeout(function() {$('.scroll-arrow').fadeOut(1000);}, 1500);
                    }
                }
                
                function writeCaptionInfo(i) {
                    $('#artwork-title').html(titleArray[i]);
                    $('#artwork-medium').html(mediumArray[i]);
                    $('#artwork-size').html(sizeArray[i]);
                }
                
                swipePhotoGalleryContainer.addEventListener('mousedown', lock, false);
                swipePhotoGalleryContainer.addEventListener('touchstart', lock, false);
                
                swipePhotoGalleryContainer.addEventListener('mouseup', move, false);
                swipePhotoGalleryContainer.addEventListener('touchend', move, false);
                
                swipePhotoGalleryContainer.addEventListener('mousemove', drag, false);
                swipePhotoGalleryContainer.addEventListener('touchmove', drag, false);
                
                swipePhotoGalleryContainer.addEventListener('touchmove', e => {e.preventDefault()}, false);
                
                $('.gallery-artwork-category-container').on('click touch', function() {
                    i = event.target.id;
//                    i = '' + i;
                    var tempString = i.replace('overlay-', '');
                    i = tempString;
                    $('#swipe-photo-gallery-container').show();
                    writeCaptionInfo(i);
                    swipePhotoGallery.classList.toggle('smooth', false);
                    swipePhotoGallery.style.setProperty('--i', i);
                });
                
                $('.close-gallery').on('click touch', function() {
                    $('#swipe-photo-gallery-container').hide();
                });
                
                $('.scroll-arrow').on('click touch', function() {
                    if (event.target.id == 'scroll-left' && i != 0) {
                        i--;
                        swipePhotoGallery.style.setProperty('--i', i);
                        swipePhotoGallery.style.setProperty('--tx', '0px');
                        swipePhotoGallery.classList.toggle('smooth', true);
                        x0 = null;
                    }
                    if (event.target.id == 'scroll-right' && i != (N - 1)) {
                        i++;
                        swipePhotoGallery.style.setProperty('--i', i);
                        swipePhotoGallery.style.setProperty('--tx', '0px');
                        swipePhotoGallery.classList.toggle('smooth', true);
                        x0 = null;
                    }
                });
                
                {{ end }}
                
                
                
                
                
//                var imgNum;
//                var imgArray = [];
//                titleArray = [];
//                dateArray = [];
//                mediumArray = [];
//                sizeArray = [];
//                var imgSrcString;
//                var i = 0;
//                var j = 0;
//                while (i == 0) {
//                    if ($('#image-' + j).length) {
//                        imgArray[j] = 'image-' + j;
//                        titleArray[j] = $('#title-' + j).html();
////                        dateArray[j] = $('#date-' + j).html();
//                        mediumArray[j] = $('#medium-' + j).html();
//                        sizeArray[j] = $('#size-' + j).html();
//                        j++;
//                    } else {
//                        i++;
//                    }
//                }
//                $('.overlay').on('click touch', function() {
//                    imgNum = event.target.id;
//                    imgNum = imgNum.replace("overlay-","");
//                    imgSrcString = $('#image-' + imgNum).attr('src');
//                    $('#img-large-view').attr('src', imgSrcString);
//                    if (touchscreenDevice == true) {
////                        $('#scroll-controls-container').hide();
//                    }
//                    $('#image-viewer').show();
//                    $('.gallery-artwork-container').css('overflow', 'hidden');
//                    for (var i = 0; i < imgArray.length; i++) {
//                        if (imgArray[i] == imgNum) {
//                            imgNum = i;
//                        }
//                    }
//                    writeCaptionInfo(imgNum);
//                });
//
//                $('#scroll-left').on('click touch', function() {
//                    scrollLeft();
//                });
//                
//                $('#scroll-right').on('click touch', function() {
//                    scrollRight();
//                });
//
//                $('#close-image-viewer').on('click touch', function() {
//                    $('#image-viewer').hide();
//                    $('.gallery-artwork-container').css('overflow', 'visible');
//                });
//                
//                function scrollLeft() {
//                     if (imgNum == 0) {
//                            imgNum = imgArray.length - 1;
//                    } else {
//                        imgNum--;
//                    }
//                    imgSrcString = $('#' + imgArray[imgNum]).attr('src');
//                    $('#img-large-view').attr('src', imgSrcString);
//                    writeCaptionInfo(imgNum);
//                }
//                
//                function scrollRight() {
//                    if (imgNum == imgArray.length - 1) {
//                        imgNum = 0;
//                    } else {
//                        imgNum++;
//                    }
//                    imgSrcString = $('#' + imgArray[imgNum]).attr('src');
//                    $('#img-large-view').attr('src', imgSrcString);
//                    writeCaptionInfo(imgNum);
//                }
//            
//                function writeCaptionInfo(i) {
//                    $('#artwork-title').html(titleArray[i]);
////                    $('#artwork-date').html(dateArray[i]);
//                    $('#artwork-medium').html(mediumArray[i]);
//                    $('#artwork-size').html(sizeArray[i]);
//                }
//
//                var clientX;
//                window.addEventListener('touchstart', function(e) {
//                    clientX = e.touches[0].clientX;
//                });
//
//                window.addEventListener('touchend', function(e) {
//                    var deltaX = e.changedTouches[0].clientX - clientX;
//                    if (deltaX > 30) {
//                        scrollLeft();
//                    }
//                    if (deltaX < -30) {
//                        scrollRight();
//                    }
//                });
            });
            
        </script>
    </body>
</html>